@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.navbar{
    background-color: #f40612;
}

.netflix-logo{
    width: 40px;
    height: 40px;
}

.h1{
    font-family: 'Press Start 2P';
    font-size: 20px;
    font-weight: 300;


}
