@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h3{
    font-family: 'Press Start 2P', sans-serif;
    line-height: 1.6;
}

.btn-font {
    font-family: 'Press Start 2P', sans-serif;
}

.margin {
    margin-top:50px;
}

.center{
    text-align: center;
}