<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col margin">
        <h3>EEEERRROOU, CÊ PRECISA VER AS SÉRIE TUDO MERMÃO!</h3>
      </div>
    </div>

    <div class="row center">
        <div class="col margin">
          <img src="../assets/noob.gif">
        </div>
      </div>
  
      <div class="row center">
        <div class="col margin">
          <button type="button" class="btn btn-danger btn-font" (click)="jogarNovamente()">Try Again</button>
        </div>
      </div>
  
  </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
  <div class="container margin">
    <div class="row">
      <div class="col">
        <h3>PARABÉNS, VOCÊ É UM VICIADO EM SÉRIES SEM VIDA SOCIAL :D</h3>
      </div>
    </div>

    <div class="row center">
      <div class="col margin">
        <img src="../assets/penny.gif">
      </div>
    </div>

    <div class="row center">
      <div class="col margin">
        <button type="button" class="btn btn-danger btn-font" (click)="jogarNovamente()">Play Again</button>
      </div>
    </div>

  </div>
</ng-template>