<app-topo></app-topo>

<div *ngIf="jogoEmAndamento; else fimDeJogo">
  <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDeJogo>
  <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container margin">
    <div class="row">
      <div class="col">
        <h3>Oh no! Get your blanket, a few snacks and come back after a Netflix marathon.</h3>
      </div>
    </div>

    <div class="row center">
        <div class="col margin">
          <img src="../assets/noob.gif">
        </div>
      </div>
  
      <div class="row center">
        <div class="col margin">
          <button type="button" class="btn btn-danger btn-font" (click)="jogarNovamente()">Try Again</button>
        </div>
      </div>
  
  </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
  <div class="container margin">
    <div class="row">
      <div class="col">
        <h3>Congratulations! You are a Netflix nerd with no social life :D</h3>
      </div>
    </div>

    <div class="row center">
      <div class="col margin">
        <img src="../assets/penny.gif" class="img-fluid">
      </div>
    </div>

    <div class="row center">
      <div class="col margin">
        <button type="button" class="btn btn-danger btn-font" (click)="jogarNovamente()">Play Again</button>
      </div>
    </div>

  </div>
</ng-template>